# App Name --------------------------------
APP_NAME = Web-Scraper-App

# Server Config --------------------------------
PORT = 8000
NODE_ENV = development

# Database Credentials --------------------------------
DB_LOCAL_URI = mongodb://localhost:27017/web-scraper
DB_NAME = web-scraper

# JWT Config --------------------------------
JWT_SECRET = your_jwt_secret_here
JWT_EXPIRES_TIME = 7d

# Base URLs --------------------------------
SERVER_URL = http://localhost:8000
CLIENT_URL = http://localhost:5173
SERVICE_URL = /api/web-scraper/v1
