# App Config
APP_NAME=Web-Scraper-App
PORT=8000
NODE_ENV=development

# Database
DB_LOCAL_URI=mongodb://localhost:27017/web-scraper
DB_NAME=web-scraper

# Auth / JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_TIME=7d
REFRESH_TOKEN_SECRET=your_refresh_token_secret
REFRESH_TOKEN_EXPIRES_TIME=30d
COOKIES_EXPIRES_TIME=7

# Base URLs
SERVER_URL=http://localhost:8000
CLIENT_URL=http://localhost:5173
SERVICE_URL=/api/web-scraper/v1

# Security
CRYPTO_SECRET=your_crypto_secret
X_VERIFY_TOKEN=your_verification_token
